.display {
    min-width: 250px;

    >* {
        padding: 10px;
    }

    >div:not(.title) {
        display: flex;
        flex-direction: row;
        align-items: center;

        >span {
            flex: 1;
            text-align: right;
        }
    }
}
